spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sell
    username: root
    password: 123456
 
  jpa: 
    show-sql: true 
    
server:
  context-path: /sell ##配置访问基路径
    